//make display flex for form-group and align-items center
.form-group {
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 35%;
}

//make registration-button class to display text in blue and underlined and cursor as pointer

.registration-button {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

//show whole login form in center of the page horizontally and vertically
.login-form {
  margin: 0 auto;
  width: 60%;
  margin-top: 20%;
}