//make display flex for form-group and align-items center
.form-group {
    display: flex;
    align-items: center;
  }
  
  .mat-form-field {
    width: 30%;
  }

  //make login-button class to display text in blue and underlined and cursor as pointer
  .login-button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
